**Saranpat Prasertthum (655667271)**

IE517 ML in Fin Lab

Module 6 Homework (Cross validation)

Use the Treasury Yield Curve dataset

In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [2]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold,cross_validate

import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn import tree

**Load Data**

In [3]:
df = pd.read_csv("ccdefault.csv",index_col="ID")
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
def get_data_type(x):
    return type(x).__name__

result = df.applymap(get_data_type)

counts = result.apply(pd.value_counts)
counts.fillna(0,inplace=True)
df_melted = df.melt(var_name='columns', value_name='values')

counts = counts.T
counts

             int
LIMIT_BAL  30000
SEX        30000
EDUCATION  30000
MARRIAGE   30000
AGE        30000
PAY_0      30000
PAY_2      30000
PAY_3      30000
PAY_4      30000
PAY_5      30000
PAY_6      30000
BILL_AMT1  30000
BILL_AMT2  30000
BILL_AMT3  30000
BILL_AMT4  30000
BILL_AMT5  30000
BILL_AMT6  30000
PAY_AMT1   30000
PAY_AMT2   30000
PAY_AMT3   30000
PAY_AMT4   30000
PAY_AMT5   30000
PAY_AMT6   30000
DEFAULT    30000

**Part 1: Random test train splits**

In [5]:
X, y = df.drop(["DEFAULT"],axis=1) ,df['DEFAULT']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,random_state=42)

In [6]:
clf = DecisionTreeClassifier(max_depth= 5, min_samples_leaf= 4, min_samples_split= 2,random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Test score: {accuracy:.2f}")

Test score: 0.82

**Part 2: Cross validation**

In [7]:
clf = DecisionTreeClassifier(max_depth= 5, min_samples_leaf= 4, min_samples_split= 2,random_state=42)

skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_validate(clf, X, y, cv=skf)
score_table = pd.DataFrame({'K' : np.arange(1,11),'Test Score':scores['test_score']})
score_table.set_index('K',inplace=True)
score_table.T

K,1,2,3,4,5,6,7,8,9,10
Test Score,0.817667,0.821667,0.812,0.822333,0.817333,0.817,0.823333,0.829,0.821333,0.814333

In [12]:
print(f"Avg Test Score: {scores['test_score'].mean():.2f}")
print(f"Std Test Score: {scores['test_score'].std():.4f}")

Avg Test Score: 0.82
Std Test Score: 0.0047

**Part 3: Conclusions**

The results of both non-cross validation and cross validation are similar, but using cross validation provides a more reliable estimate of model performance. Non-cross validation only trains and tests the model on a single train and test set, which can be faster and more efficient. However, cross validation trains the model 10 times and generates 10 scores, which helps to reduce any bias in the train and test sets. Although cross validation can be more computationally intensive, the scores are more reliable and provide a better representation of the model's ability to generalize to new data. Therefore, it is recommended to use cross validation when evaluating the performance of a model.

**Part 4: Appendix**

In [9]:
print("My name is Saranpat Prasertthum")
print("My NetID is: 655667271")
print("I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.")

My name is Saranpat Prasertthum
My NetID is: 655667271
I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.